{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Login</h1>
        <form method="post" action="{{ path('app_login') }}">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="_password" id="inputPassword" class="form-control" required>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}