body {
    background-color: skyblue;

}

card {
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    height: 100vh;
}



.prix {
    color: green;
}


.image {
    height: 40vh;
}

.details-span {
    width: 80%;
}