body {
    background-color: white;

}

card {
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.prix {
    color: green;
}


.image {
    height: 20vh;
}
.custom-img {
    max-width: 100px; /* Changez cette valeur selon vos besoins */
    height: auto;
}


